.heading{
    text-align: center;
    margin-bottom: 100px;
    font-size: 42px;
}

.drawing{
    display: flex;
    margin-left: 200px;
    gap: 175px;
}

.drawingBox{
    background-color: white;
    height: 560px;
    width: 560px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid{
    background-color: black;
}

.selectionBox{
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 300px;
}

.box{
    border-radius: 0;
    font-size: 22px;
    height: 50px;
}

.color p{
    margin: 0;
    padding: 0;
}

.color div{
    position: absolute;
    right: 0;
    background-color: black;
    height: 35px;
    width: 35px;
    margin-right: 10px;
}

.sliderContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sliderContainer p{
    font-size: 26px;
    margin:0;
}

.slider{
    width: 200px;
}

